html,
body {
  background-color: #2d4358;
  min-width: 500px;
  font-family: 'Chivo', sans-serif;}

header {
  color: cyan;
  text-align: center;
  font-size: 3em;
}

#instructions {
  color: white;
}

.instruction {
  padding: 15px;
  margin: 10px 0;
}

.plus {
  background-color: #e05764;
}

.moins {
  background-color: tan;
}

.fini {
  background-color: #127551;
}

.btn-primary {
  background-color: rgb(212, 171, 82);
  border: none;
  border-radius: 0.8vw;
}

.btn-primary:hover {
  background-color: rgb(133, 114, 73);
}
